.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 8px;
}

.subtitle {
  color: #757575;
}

.headerActions {
  display: flex;
  align-items: center;
}
